{% extends "layout.twig" %}
{% block html_title %}Cadastre sua nova senha - {{ parent() }}{% endblock %}
{% block content -%}
<div class="container">
<div id="recover">
  <form role="form" data-toggle="validator" class="form-signup" action="{{ base_url() }}/users/recover/token/{{ token }}" method="POST">
    <div class="form-signup-heading">
      <div class="alert alert-success">Seu email foi confirmado!</div>
      <h2>Recadastre sua senha</h2>
    </div>
    <input type="hidden" name="token" value="{{ token }}" required>
    <label for="input-password" class="sr-only">Senha</label>
    <input type="password" name="password" id="input-password" class="form-control" placeholder="Senha" autofocus required>
    <label for="input-confirm-password" class="sr-only">Confirme a senha</label>
    <input type="password" name="confirm_password" id="input-confirm-password" class="form-control" placeholder="Confirme a senha" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Atualizar</button>
  </form>
</div>
</div>
{%- endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
