{% extends "admin/layout.twig" %}
{% block html_title %}Cargos - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'role' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/role">Cargos</a></li>
  <li class="active">Adicionar</li>
</ol>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header" data-background-color="blue">
    <div class="row">
      <div class="col-xs-12">
        <h3>Adicionar cargo</h3>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-6">
        <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/role/add" method="POST">
          <div class="form-group">
            <label for="name">Slug:</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="Nome" pattern="[a-z]{1,}" title="Somente letras minúsculas" autofocus required>
            <p id="name-error" style="color:red;"></p>
            <script type="text/javascript">
            $('#name').change(function(){
              if ($(this).parent().hasClass('has-error')) {
                $(this).css('border-color', '#a94442');
                $(this).css('border-width', '2px');
                $(this).css('border-style', 'solid');
                $('#name-error').html('Somente letras minúsculas');
              } else {
                $(this).removeAttr('style');
                $('#name-error').html('');
              }
            });</script>
          </div>
          <div class="form-group">
            <label for="description">Nome:</label>
            <input id="description" class="form-control" type="text" name="description" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <label for="access_level">Nível de Acesso:</label>
            <input id="access_level" class="form-control form-group" type="number" name="access_level" placeholder="Nível de acesso" required>
          </div>

          <button type="submit" class="btn btn-success">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


{% endblock %}
