{% extends "layout.twig" %}
{% set nav_active = 'index' %}
{% set nav_active = 'inicio' %}

{% block content -%}

   <section class="main-section" style="    padding-top: 4px;" >
    <div class="container">
      <div  class="row">
        <div class="col-xs-12 col-sm-4">
          <h1>Website Teste</h1>
          <h3>Este é um exemplo construído para uma primeira experiência com nossa plataforma.</h3>
          <h4>Faça login como administrador para conferir as páginas internas da plataforma:</h4>
          <h4>Usuário: admin@localhost </h4>
          <h4>Senha: 1234</h4>
          <h4><a href="{{ base_url() }}/users/signin">login</a></h4>
        </div>
         <div id="ancora-page" class="col-sm-8 page">
          <div class="row">
            <div class="col-sm-12">

              <img src="" style="width:100%;">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%- endblock %}
{% block javascripts %} {{ parent()}}
{% endblock %}
