{% extends "layout_manutencao.twig" %}
{% set nav_active = 'index' %}
{% set nav_active = 'inicio' %}

{% block content -%}

   <section class="main-section" style="background-color:#eee;">
    <div class="container" style="padding:0px">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <br>
                <center><h2 style="margin-bottom:0px;"><i class="material-icons" style="font-size:68px; font-weight: 300;">error_outline</i></h2>
                <h1 style="margin-top:0px;">Em manutenção</h1>
                <p style="font-size:large;">Estamos preparando uma nova experiência e logo estaremos no ar.</p></center>
            </div>
        </div>
    </div>
  </section>

{%- endblock %}
{% block javascripts %} {{ parent()}}

{% endblock %}
