{% extends "admin/layout.twig" %}
{% block html_title %}Configurações - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'configuracoes' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
</ol>
{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading" >
    <div class="row">
      <div class="col-xs-8 col-sm-8">
        <p class="panel-title">Configurações</p>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form id="userform" role="form" data-toggle="validator" action="{{ base_url() }}/admin/configuracoes/update" method="POST"  enctype="multipart/form-data">


        <input type="hidden" class="form-control" id="id" name="id" value="{{ categ.id }}"  required>
        <p>Em manutenção?</p>
        <select name="value" id="value">
          <option value= 1 {% if value == '1' %} selected {% endif %}>Sim</option>
          <option value= 0 {% if value == '0' %} selected {% endif %}>Não</option>
        </select>

        <button id="botao-atualizar" type="submit" class="btn btn-success">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
