{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'dashboard' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
            <i class="material-icons">person</i>
        </div>
        <div class="card-content">
            <p class="category">Clientes</p>
            <h3 class="title">150

            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">teste</i>
                <a href="#pablo">Acessar</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
            <i class="material-icons">info_outline</i>
        </div>
        <div class="card-content">
            <p class="category">Caso de uso 2</p>
            <h3 class="title">150

            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">teste</i>
                <a href="#pablo">Acessar</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
            <i class="material-icons">store</i>
        </div>
        <div class="card-content">
            <p class="category">Caso de Uso 3</p>
            <h3 class="title">100%

            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">teste</i>
                <a href="#pablo">Acessar</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
            <i class="material-icons">store</i>
        </div>
        <div class="card-content">
            <p class="category">Caso de Uso 4</p>
            <h3 class="title">OK

            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">teste</i>
                <a href="#pablo">Acessar</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
